body {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  background-color: slategray;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

/* .gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 16em;
} */

.cell {
  background-color: cornflowerblue;
  height: 5em;
  width: 5em;
  max-width: 5rem;
  max-height: 5rem;
  border: 2px solid black;
}

.cell:hover {
  background-color: aqua;
}

.color {
  background-color: orange;
  height: 5em;
  width: 5em;
}


/* .winStatusSection {
  display: flex;
  justify-content: space-between;

}

.winningColor {
  height: 5rem;
  width: 5rem;
  /* border: 1px solid black; */

/* } */


/* .resetButton {
  padding: .3rem;
  margin: 1rem;
  width: 5em;
  height: 2em;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px black;
  box-shadow: 1px 1px 1px black;
} */

/* .resetButton>h3 {
  padding: 0px;
  margin: 0px;
  letter-spacing: 3px;
}

.resetButton:hover {
  background-color: red;
  cursor: pointer;
} */
