body {
  background-color: rgb(46, 50, 54);
  color: rgb(168, 96, 209);
}


.cell {
  background-color: rgb(77, 160, 238);
  height: 5em;
  width: 5em;
  max-width: 5rem;
  max-height: 5rem;
  border: 2px solid black;
  text-align: center;
  font-size: 4rem;
  color: black;
  padding: 0px;
  margin: 0px;
  transition: all 0.5s ease-out;
  display: flex;
}

.cell::target-text {
  color: red;
}

.cell:hover {
  background-color: aqua;
}

.color {
  background-color: orange;
  height: 5em;
  width: 5em;
  display: inline-block
}


.winStatusSection {
  display: flex;
  justify-content: space-between;

}

.winningColor {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  display: inline-block
}

.resetButton {
  margin: 1rem;
}
